<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Servicos</ion-title>

    <ion-searchbar placeholder="Pesquisar" *ngIf="isSearchbarOpened" showCancelButton="true"
      (ionCancel)="isSearchbarOpened=false" (ionInput)="getitems($event)">
    </ion-searchbar>
    <ion-buttons end>

      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">

        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (click)="openCadServicos()">

        <ion-icon name="add" ></ion-icon>
      
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)">

    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Atualizando...">

    </ion-refresher-content>

  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let item of servicos" style="margin-top: 10px;">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/encanador.jpg">
        </ion-thumbnail>

        <h1>{{item.nome}}</h1>
         <h2 [innerHTML]="item.descricao.substr(0, 26) + '...'">{{item.descricao}}</h2>
        <h2>  R$ {{item.preco_promo}} - <span style="color: rgb(175, 0, 0); 
                                                     font-size: 12px !important;
                                                     text-decoration: line-through;"> R${{item.preco}}  </span></h2>
      </ion-item>  

      <ion-item-options side="right">


        <button ion-button color="secondary" (click)="openEditar(user.id,
                                                        user.nome,
                                                        user.email,
                                                        user.tipo,
                                                        user.avatar,
                                                        user.login,
                                                        user.senha)">
          <ion-icon name="brush"></ion-icon>
        </button>


        <button ion-button color="light" (click)="delete(user.id)">
          <ion-icon name="trash"></ion-icon>
        </button>

      </ion-item-options>

    </ion-item-sliding>

    
  </ion-list>


</ion-content>