page-list-pagamentos {

    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-left: 0;
        margin-top: 11px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}
